body {
  font: 700 14px/24px 'PTsans Bold', Arial, sans-serif;
  color: #ffffff;
  background: url(../img/body-img.jpg) no-repeat 50% 3px;
}

h1 {
  font: 700 30px/42px 'PTsans Bold', Arial, sans-serif;
}

h2 {
  font: 700 24px/30px 'PTsans Bold', Arial, sans-serif;
}
